@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

body {
  padding: 2rem;
}

#current-date {
  text-align: center;
}

#clock {
  text-align: center;
  font-family: "Moul", serif;
  font-size: 15vw;
  font-weight: 400;
  font-style: normal;
}

#clock span {
  text-shadow: 0 0 80px #FFF201;
  /* background: linear-gradient(to bottom, black, #79790f99); */
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
} 

/* #colon {
  animation: fadeInOut 4s linear infinite;
} */

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#worked-hours {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

#day-activity {
  border: 1px solid #bfc01099;
  text-align: center;
  font-size: larger;
}

#day-entry {
  display: flex;
  justify-content: space-around;
}

.day-item {
}

#button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF201;
  box-shadow: 0 1rem 3rem #bfc01099;
  /* text-align: center; */
  margin: auto;
  border-radius: 50%;
  height: 35vw;
  width: 35vw; 
  border: 1px solid #fff;
  font-size: x-large;
  font-family: "Moul", serif;
  font-weight: 700;
}

#pointer-icon {
  width: 35%;
  margin-top: 1rem;
}

#btn-text {
  font-size: 90%;
  margin: 0;
  padding: 0;
}

#button:hover {
  scale: 1.05;
  #pointer-icon {
    scale: 1.14;
  }
}