body {
  display: flex;
  margin: 0;
}

#login-mobile-side {
  flex: 1;
  border: 0.1rem solid gray;
  height: 100vh;
  
}

#login-logo-mobile {
  margin: 3rem;
  height: 8.5%;
}

p {
  text-align: center;
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 3rem;
}

label {
  font-size: x-large;
}

input {
  height: 4rem;
}

#usernamePrepend {
  background-color: #FFF201;
  height: 4rem;
  font-size: x-large;
}

#passwordPrepend {
  background-color: #FFF201;
  height: 4rem;
  width: 4rem;
}

#forgot-password {
  text-align: right;
  margin: 1rem 0;
  font-size: larger;
}

button {
  background-color: #FFF201;
  border: none;
  font-weight: 550;
  height: 4rem;
  box-shadow: 0 1rem 3rem rgba(191, 192, 16, 0.6);
}

#login-desktop-side {
  display: flex;
  flex-direction: column;
  flex: 1.618;
  height: 100vh;
}

#dt-header-logo {
  max-width: 100%;
  margin: 0;
}

#login-image {
  margin: auto;
}