body {
  display: flex;
  margin: 0;
}

#login-mobile-side {
  flex: 1;
  border: 0.1rem solid gray;
  
}

#login-logo-mobile {
  margin: 3rem;
  height: 8.5%;
}

p {
  text-align: center;
  font-size: 1.618rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 3rem;
}

#prepend {
  background-color: #FFF201;
}

#forgot-password {
  text-align: right;
  margin: 0.3rem 0;
}

button {
  background-color: #FFF201;
  border: none;
  font-weight: 660;
  height: 3.6rem;
  box-shadow: 0 1rem 3rem rgba(141, 132, 6, 0.6);
}

#login-desktop-side {
  display: flex;
  flex-direction: column;
  flex: 1.618;
}

#dt-header-logo {
  max-width: 100%;
  margin: 0;
}

#login-image {
  margin: auto;
}